* {
	margin: 0;
	padding:0;
	font-family:'Open Sans', sans-serif;
}
body {

}


.wrapper {
	width: 80%;
	margin: 0 auto;
}
a,
a:hover,
a:active {
	text-decoration: none;
	color: #EAFFEA;
}
li {
	list-style: none;
}
header {
	width: 100%;
	background:rgba(20,82,91,0.95);
	display: flex;
	position: sticky;
	top:0px;
}
.header_logo {
	color: #FFE467;
	font-size: 30pt;
	padding: 10px 0 10px 4%;
}
nav{
	padding:25px 4% 10px 0;
	width: 100%;
	color:#FFE460;
}
.top_nav a {
	margin:0 0 0 20px;
	padding: 5px 0 5px 0;
	font-size: 15pt;
	text-align: center;
	float: right;
}
.top_nav a:hover{
	border-bottom: 2px solid #FFE460;
}

.top_nav a.icon {
	display: none;
	border: none;
}

main {
	background-color:#FFE460;
	height: 1500px;
}



@media screen and (max-width: 1024px) {
	.top_nav a {
		display: none;
	}
	.top_nav a.icon {
		float: right;
		display: block;
		font-size: 30px;
		width: 41px;
	}
	nav {
		width: 100%;
	}
	.top_nav.responsive {
		width:100%;
		position: relative;
		top: 60px;
		right: 55px;
		height: 348px;
	}
	.top_nav.responsive a {
		display: block;
		text-align: center;
		width: 100%;	
		font-size: 14pt;
		padding: 10px 0;	
	}
	.top_nav.responsive a:hover{
		background-color: #43CCC2;
		border-bottom: none;
	}
	.top_nav.responsive .icon {
		position: relative;
		font-size: 18pt;
	}

}
